.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background-color: #24232c;
}
.character-length-container {
  display: flex;
  justify-content: space-between;
}

.range-container {
  input {
    padding: 0;
    width: 100%;
  }
}
.range-container {
  input[type="range"]::-webkit-slider-runnable-track {
    padding: 0;
    border-radius: 10px;
    background-color: #18171f;
    height: 0.5rem;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: white;
    height: 1rem;
    width: 1rem;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkbox-data {
  display: flex;
  gap: 1rem;
  label {
    font-size: 0.8rem;
  }
}
.checkbox {
  width: 5%;
  accent-color: #a4ffaf;
}

.strength-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #18171f;
  p {
    color: #817d92;
  }
  padding: 0.8rem;
  .strength-text {
    color: white;
    width: 75%;
    text-align: end;
  }
}

.space-between-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem;
  width: 100%;
}

.strength-selected-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.strength,
.too-weak,
.weak,
.medium,
.strong {
  height: 21px;
  width: 7px;
  border: solid #e6e5ea;
}

.too-weak {
  background-color: #f64a4a;
  border: none;
}
.weak {
  background-color: #fb7c58;
  border: none;
}
.medium {
  background-color: #f8cd65;
  border: none;
}

.strong {
  background-color: #a4ffaf;
  border: none;
}

.button-container {
  width: 100%;
  button {
    width: 100%;
    padding: 0.8rem;
    color: black;
    background-color: #a4ffaf;
  }
  button:hover {
    background-color: #24232c;
    color: white;
    border: solid #a4ffaf;
  }
}
