.password-copy-container {
  display: flex;
  width: 100%;
  padding: 1rem;
  img {
    width: 80%;
    height: 80%;
    align-self: center;
  }
  button {
    background-color: transparent;
    border: none;
    width: 10%;
  }
}

:root {
  --main-color: white;
}

input {
  width: 100%;
  background-color: #24232c;
  border: none;
  color: var(--main-color);
}

@media screen and (min-width: 768px) {
  .password-copy-container {
    img {
      width: 50%;
      height: 80%;
      align-self: center;
    }
  }
}
